/* How it looks */

* {
  font-size: 30px;
}

header{
  /* margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px; */
}

#nav-links{
  width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  background-color: azure;
  padding-top: 10px;
  padding-bottom: 10px;
}


#main-page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 600px;
  height: 600px;
  margin: auto;
  padding: 100px;
  background-color: cadetblue;
  border: 3px solid green;
}

#filled-out-form{
  margin-left: 49px;
}

#filled-out-form span{
  font-size: 33px;
}


button {
  font-size: 30px;
  min-width: 50px;
  border-radius: 5px;
  margin-top: 15px;
  background-color: goldenrod;
}
