/* How it looks */

*{
  font-size: 30px;
}

#counter {
  height: 500px;
  width: 500px;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#add-one {
}

#subtract-one {
}

button {
  font-size: 30px;
  min-width: 50px;
  border-radius: 5px;
  margin-top: 15px;
  background-color: goldenrod;
}

